<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SIA Absensi</title>
</head>
<body>
	<h3>Dekripsi</h3>
	<form action="/decrypt" method="POST">
		<input type="text" name="text" placeholder="Masukkan teks" style="width: 500px;" required>
		<input type="submit" name="submit" value="Dekripsi">
	</form>
	<% if (decrypted) { %>
		<h3>Hasil: <%= decrypted %></h3>
	<% } %>
	<br>
	<h3>Enkripsi</h3>
	<form action="/encrypt" method="POST">
		<input type="text" name="text" placeholder="Masukkan teks" style="width: 500px;" required>
		<input type="submit" name="submit" value="Enkripsi">
	</form>
	<% if (encrypted) { %>
		<h3>Hasil: <%= encrypted %></h3>
	<% } %>
</body>
</html>